<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      IONIC STORAGE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">IONIC STORAGE</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
       <ion-input type="text" placeholder="USER" name="usuario" id="usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="PASSWORD" name="password" id="password"></ion-input>
       </ion-item>

         <ion-button (click)="validar()" expand="full" size="large" shape="round">
           OK
         </ion-button>

    </ion-list>
   </div>
</ion-content>
